/************* NORMALIZE **************/

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  /*because box-sizing is not self-inherative*/
}

html {
  font-size: 62.5%; 
  /*Because we don't want 16px (which would be 100%) we want 10px. This defines what 1rem is */
}

body {
  box-sizing: border-box;
}